
header{
    grid-column: 1/5;
}

aside{
    grid-column: 1/5;
    grid-row: 2/3;
}

main{
    grid-column: 1/5;
    grid-row: 2/3;
}
#registration,#login{
    grid-column: 2/3;
    grid-row: 1/3;
}


footer{
    grid-column: 1/5;
    grid-row: 3/4;
}